.Form1 {
    margin-top: 1em;
}

input {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    font-size: 1.5em;
    padding: 0.4rem 0.8rem;
}

.input-field {
    border-style: solid;
    border-width: 1px;
    border-color: hsl(0, 0%, 80%);
}

.input-field:focus {
    box-shadow: 0 0 4pt 1pt #41597F;
}

.emailValid,
.dateValid,
.passValid,
.nameValid {
    box-shadow: 0 0 4pt 1pt lightgreen;
}

.emailInvalid,
.dateInvalid,
.passInvalid,
.nameInvalid {
    box-shadow: 0 0 4pt 1pt #FF3333;
}

.selectOption {
    color: black;
    width: 10em;
    display: inline-block;
    margin-right: 1em;
    margin-top: 0.4em;
}

.selectOption1 {
    color: black;
    width: 10em;
    display: inline-block;
    margin-right: 1em;
    margin-top: 0.4em;
}

.selectOption2 {
    color: black;
    width: 10em;
    display: inline-block;
    margin-right: 1em;
    margin-top: 0.4em;
}

.input-submit {
    margin-top: 1em;
    border-style: solid;
    border-width: 1px;
    border-color: hsl(0, 0%, 80%);
    border-radius: 4px;
    background-color: hsl(0,0%,100%);
    border-color: hsl(0,0%,80%);
    color: black;
    font-size: 1.5rem;
    font-family: 'Inter UI', sans-serif;
}

.input-field-check {
    margin-top: 1em;
    margin-left: 0.5em;
}

.accept {
    font-family: 'Raleway', sans-serif;
    color: black;
}

input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    transform: scale(1.5);
}

textarea {
    font-family: 'Raleway', sans-serif;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    font-size: 1em;
    padding: 0.4rem 0.8rem;
}

button {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    font-size: 1.5em;
    padding: 0.4rem 0.8rem;
    border-style: solid;
    border-width: 1px;
    border-color: hsl(0, 0%, 80%);
    border-radius: 4px;
    background-color: hsl(0,0%,100%);
    border-color: hsl(0,0%,80%);
    color: black;
}

label {
    font-family: 'Inter UI', sans-serif;
    font-size: 1rem;
}

/* Mobile :320px. */
@media (max-width: 767px) {
    input[type=checkbox] {
        transform: scale(2);
    }
    .Form1 {
        font-size: 1.5rem;
    }
    .input-submit {
        font-size: 2rem;
    }

    .input-field {
        font-size: 1.5rem;
        width: 100%;
    }
    .selectOption,
    .selectOption1,
    .selectOption2 {
        width: 100%;
    }
    .accept {
        margin-top: 0.5rem;
        font-size: 1.4rem;
    }
}

/* Tablet:768px. */
@media (min-width: 768px) and (max-width: 991px) {
    input[type=checkbox] {
        transform: scale(1);
    }
    .Form1 {
        font-size: 1.5rem;
    }
    .input-submit {
        font-size: 2rem;
    }

    .input-field {
        font-size: 1.5rem;
        width: 100%;
    }
    .selectOption,
    .selectOption1,
    .selectOption2 {
        width: 100%;
    }
    .accept {
        margin-top: 0.5rem;
        font-size: 1.4rem;
    }
}
